/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
  font-family: "Kameron", "Noto Sans JP", sans-serif;
  height: 100%;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
.font-sm {
  font-size: 14px;
}
.font-md {
  font-size: 17px;
}
.font-lr {
  font-size: 17px;
}
.font-lg {
  font-size: 25px;
}
.mb-sm {
  margin-bottom: 16px !important;
}
.mb-lg {
  margin-bottom: 80px !important;
}
.pb-sm {
  padding-bottom: 16px !important;
}
.pb-lg {
  padding-bottom: 80px !important;
}
.content-width {
  width: 90%;
  margin: 0 auto;
  //max-width: $contentMaxWidth;
}
.main-title {
  @extend .font-lg;
  font-weight: 500;
  margin-bottom: 0;
  display: block;
}
.sub-title {
  @extend .font-sm;
  color: $cSubTitle;
}
.flex {
  display: flex;
  flex-direction: column;
}
.purple {
  color: $cWineRed;
}

// #main-content {
//   position: relative;
//   z-index: 0;
// }

#container {
  background-color: $cWhite;
  position: relative;
  z-index: 10;
  transition: transform 0.5s, box-shadow 0.5s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $navHeight;
  background-color: transparent;
  display: flex;
  align-items: center;
  z-index: 100;

  &.triggered {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
  }

  &__nav {
    display: none;
  }

  &__ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__li {
    margin-left: 20px;

    & > a {
      color: $cBlack;
      text-decoration: none !important;
      text-transform: uppercase;
    }
  }

  & .logo {
    font-size: 30px;
    justify-content: center;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend .content-width;
  }
}

.travel {
  @extend .content-width;
  @extend .mb-lg;

  &__inner {
    @extend .flex;
    justify-content: space-between;
    padding: 15px;
    background-color: $cBgGray;
    position: relative;
    z-index: 0;
  }

  &__title {
    position: relative;

    @include p-base(
      $display: none,
      $width: 100px,
      $height: 1px,
      $top: 50%,
      $left: -120px
    ) {
      background-color: $cBlack;
      transform: translateY(-50%) scaleX(0);
      transition: transform 0.3s ease 1.6s;
      transform-origin: right;
    }
  }

  &__sub {
    @extend .mb-sm;
  }

  &__img {
    height: 300px;
    @extend .mb-sm;
    transition: box-shadow 1ms linear 0.8s;

    & > img {
      position: relative;
      z-index: -1;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    &.inview {
      box-shadow: inset 0 0 30px $cBlack;
    }
  }

  &__texts {
    @extend .pb-sm;

    &.inview {
      & .travel__title::before {
        transform: translateY(-50%);
      }
    }
  }
}

.houses {
  @extend .content-width;
  @extend .mb-lg;

  &__inner {
    @extend .flex;
  }

  &__title {
    @extend .font-lr;
    @extend .mb-sm;
  }

  &__btn {
    text-align: center;
    flex-basis: 100%;
  }
}

.popular {
  &__inner {
    position: relative;
    @include p-base($top: 10%, $height: 90%) {
      background: $cBgGray;
    }
    // &::before {
    //   content: '';
    //   position: absolute;
    //   bottom: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 90%;
    //   background-color: $cBgGray;
    // }
  }
  &__header {
    @extend .content-width;
  }
  &__container {
    position: relative;
    z-index: 2;
    @extend .flex;
    @extend .content-width;
    @extend .pb-sm;
  }

  &__title {
    @extend .font-md;
    @extend .mb-sm;
  }

  &__btn {
    text-align: center;
    flex-basis: 100%;
    @extend .mb-lg;
  }

  &__img {
    height: 150px;
    overflow: hidden;
    margin-bottom: 5px;

    & > img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}

.logo {
  font-size: 42px;
  display: flex;

  &__img {
    width: 0.7em;
  }

  &__world {
    color: $cWineRed;
  }
}

// .footer {
//   padding: 60px 0;
//   @extend .content-width;

//   &__nav {
//     @extend .flex;
//     justify-content: space-between;
//     align-items: center;
//     text-align: center;
//   }

//   &__ul {
//     @extend .flex;
//     padding: 0;
//     margin: 0;
//     list-style: none;
//   }

//   &__li {
//     padding: 0;
//     margin: 10px;

//     & > a {
//       color: $cSubTitle;
//     }
//   }

//   & .logo {
//     font-size: 38px;
//     justify-content: center;
//   }
// }

.footer {
  padding: 60px 0;
  @extend .content-width;

  &__nav {
    @extend .flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  &__ul {
    @extend .flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__li {
    padding: 0;
    margin: 10px;

    & > a {
      color: $cSubTitle;
    }
  }

  & .logo {
    font-size: 38px;
    justify-content: center;
  }
}

.footer__ul {
  flex-direction: column;
  display: flex;
}

.side {
  display: none;
  position: fixed;
  top: 70%;
  transform: translateY(-50%);
  transition: all 0.3s ease-in;

  & .tween-animate-title {
    color: $cBlack;
    text-decoration: none !important;
    margin: 0 40px;
    vertical-align: middle;
    letter-spacing: 2px;
  }

  &.left {
    left: -50px;

    &.inview {
      left: 50px;
    }

    & .side__inner {
      transform-origin: top left;
      transform: rotate(-90deg);
    }
  }
  &.right {
    right: -50px;

    &.inview {
      right: 50px;
    }

    & .side__inner {
      transform-origin: top right;
      transform: rotate(90deg);
    }
  }
}

.icon {
  position: relative;

  @include p-base($left: -20px, $top: 50%, $width: 1em, $height: 1em) {
    transform: translateY(-50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &.twitter {
    &::before {
      background-image: url(../images/twitter.svg);
    }
  }
  &.fb {
    &::before {
      background-image: url(../images/facebook.svg);
    }
  }
}

#search-container {
  // background-color: aquamarine;
  height: 100px;
  width: 90%;
  margin: 0 auto;
}

.search {
  display: flex;
  flex-flow: column;
  justify-content: center;
  // justify-content: space-between;

  padding-right: 20px;

  & .__search-input {
    height: 30px;
    margin-bottom: 5px;
  }
}

//+++++++++++++++++++

.main_article {
  display: grid;
  margin: 0 30px 0 30px;
}

.practice_article {
  margin-bottom: 30px;
  border: 1px solid #b4aeae;
  border-radius: 20px;
}

figure {
  margin: 0;
}
.practice_photo img {
  width: 100%;
  height: 250px;
  border-radius: 20px;
  object-fit: cover;
}

.practice_content {
  text-align: center;
}

.practice_article a {
  text-decoration: none;
}

.practice_article:hover {
  opacity: 0.8;
  cursor: pointer;
}

.practice_article_my {
  opacity: 0.8;
  cursor: pointer;
}

.login {
  // text-align: center;
  border: 1px solid #535353;
  margin: 0 10%;
  height: 50vh;
  // vertical-align: middle;
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login button {
  margin-bottom: 15px;
}

.email-label {
  padding-left: 20px;
}

/*search */

.search_container {
  box-sizing: border-box;
  position: relative;
  border: 1px solid #999;
  display: block;
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.3em;
  width: 80%;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 940px;
}
.search_container input[type="text"] {
  border: none;
  height: 2em;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container input[type="submit"] {
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  background: none;
  color: #3879d9;
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  right: 0;
  top: -10px;
  outline: none;
}

.search_container2 {
  box-sizing: border-box;
  position: relative;
  border: 1px solid #999;
  display: block;
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.3em;
  width: 50%;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 480px;
}
.search-input {
  border: none;
  height: 2em;
  width: 100%;
  text-align: center;
}
.search-input {
  outline: 0;
}

span.top_log_f {
  font-size: 1.8rem;
  font-style: italic;
  letter-spacing: 0.1em;
  color: gray;
  white-space: nowrap;
  /* text-shadow: -4px 3px 0 black, -8px 6px 0 black; */
}

.dd {
  overflow-wrap: break-all;
  margin-bottom: 20px;
}
