{{ define "navbarmobile" }}
<nav class="mobile-menu">
  <ul class="mobile-menu__main">
    <li class="mobile-menu__item">
      <div class="side-item">
        <a class="mobile-menu__link" href="login">
          <span class="main-title">ログイン</span>
        </a>
      </div>
    </li>
    <li class="mobile-menu__item">
      <div class="side-item">
        <a class="mobile-menu__link" href="signup">
          <span class="main-title">登録</span>
        </a>
      </div>
    </li>
    <li class="mobile-menu__item">
      <div class="side-item">
        <a class="mobile-menu__link" href="recruitment">
          <span class="main-title">練習募集</span>
        </a>
      </div>
    </li>
  </ul>
</nav>
{{end}}
